/*=============================================================================
                                    BRAND RULES
=============================================================================*/

.m-brand {
    display: block;
    text-align: center;
    
    &--top {
        margin-bottom: 40px;
    }
    
    &__img {
        display: block;
        margin: 0 auto;
    }
}