/*=============================================================================
                                    #BRAND RULES
=============================================================================*/

.m-brand {
    display: block;
    text-align: center;
    
    &--top {
        margin-bottom: 40px;
        
        #index & {
            animation: fadeIn .5s, slideDown .5s;   
        }
    }
    
    &__img {
        display: block;
        margin: 0 auto;
    }
}