/*=============================================================================
                                    BUTTON RULES
=============================================================================*/

.m-btn {
    display: inline-block;
    position: relative;
    padding: 0 40px;
    border: 0;
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 40px;
    background: $blue;
    color: $light-gray;
    font-weight: 700;
    line-height: 3;
    cursor: pointer;
    overflow: hidden;
    transition: all .3s;
    
    &:active,
    &:focus,
    &:hover {
        background: $dark-blue;
        color: $white;
    }
    
    &--share {
        margin-bottom: 20px;
        margin-right: 10px;
        background: $light-blue;
        line-height: 2.5;
        text-align: center;
        
        &:active,
        &:focus,
        &:hover {
            background: darken($light-blue, 25%);
            color: $white;
        }
    }
    
    &[disabled] {
        opacity: 0.4;
        cursor: default;
        
        &:active,
        &:focus,
        &:hover {
            background: $blue;
            color: $white;
        }
    }
}