/*=============================================================================
                                    CARD RULES
=============================================================================*/

.m-card {
    position: relative;
    padding: 40px;
    border-radius: 6px;
    
    &--a {
        background: $white;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }
    
    &--b {
        padding: 10px;
        border: 2px solid $gray;
    }
    
    &--share {
        text-align: center;
        opacity: 0;
        visibility: hidden;
        animation: zoomIn .5s 1s forwards;
        
        & > p {
            margin-bottom: 20px;
        }
    }
}

