/*=============================================================================
                                    RESULTS RULES
=============================================================================*/

.m-results {
    text-align: center;
}

.m-results__score {
    margin: .8em 0;
    font-size: 7em;
    line-height: 1em;
    font-weight: 700;
    visibility: hidden;
    opacity: 0;
    animation: zoomIn .5s 1s forwards;
    
    &.is-passed {
        color: $green;
    }
    
    &.is-failed {
        color: $red;
    }
}

.m-results__description {
    margin-bottom: 40px;
    font-size: 16px;
    visibility: hidden;
    opacity: 0;
    animation: fadeIn 1s forwards; 
}