/*=============================================================================
                                    TEXT RULES
=============================================================================*/

.m-text {
    &--center {
        text-align: center;
    }
    
    &--left {
        text-align: left;
    }
    
    &--right {
        text-align: right;
    }
    
    &--bold {
        font-weight: 700;
    }
    
    &--light {
        font-weight: 300;
    }
    
    &--white {
        color: $white;
    }
}