//=============================================================================
//                                  COLORS
//=============================================================================

$white                          :#FFFFFF;

$light-blue                     :#24B9D0;
$blue                           :#2980B9;
$dark-blue                      :#1B5479;

$light-gray                     :#FAF6FA;
$gray                           :#DDDDDD;
$dark-gray                      :#333333;



//=============================================================================
//                                    FONTS
//=============================================================================

$primary-font-stack             :'Lato', sans-serif;
$seccondary-font-stack          :'Montserrat', sans-serif;