//=============================================================================
//                                  COLORS
//=============================================================================

$white                          :#FFFFFF;

$light-blue                     :#24B9D0;
$blue                           :#2980B9;
$dark-blue                      :#1B5479;

$light-gray                     :#FAF6FA;
$gray                           :#DDDDDD;
$dark-gray                      :#333333;

$green                          :#3ABD2B;
$red                            :#FB2525;


//=============================================================================
//                                    FONTS
//=============================================================================

$primary-font-stack             :'Lato', sans-serif;