/******************************************************************************
*    Colors
******************************************************************************/
/******************************************************************************
*    Fonts
******************************************************************************/
/******************************************************************************
*    Base Rules
******************************************************************************/
body {
  background: #2980B9;
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.5; }

a {
  color: #2980B9;
  text-decoration: none; }
  a:active, a:focus, a:hover {
    color: #1B5479; }

img {
  display: block;
  max-width: 100%; }
